<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление записей за новый период в справочник нормативов подушевого финансирования</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="~{menu :: copy}">...</div>
<h1>Добавить период</h1>
<p>(Добавление записей за новый период в справочник нормативов подушевого финансирования)</p>
<p>Укажите период действия для новых записей</p>
<form th:action="@{/add_period_funding_norma}" th:object="${monthForm}" method="POST">

    Месяц
    <input type="text" th:field="*{month}" />
    <br/>
    Год
    <input type="text" th:field="*{year}" />
    <br/>
    <input type="submit" value="Добавить записи" />
    <input type="button" value="Отмена" onClick='location.href="/funding_norma"'>
</form>
</body>
</html>