<!DOCTYPE html>
<html lang="ru">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Администрирование</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<script src="jquery.min.js"></script>
<div th:insert="~{menu :: copy}">...</div>
<h1>Администрирование</h1>

<div  th:if="${message != null}" role="alert" class="alert-message">
    [[${message}]]
</div>

<div>
    <p>Загрузка cправочника ПФ СМП из справочника в формате xml:</p>
    <form method="post" th:action="@{/upload_funding_norma_smp_xml}" enctype="multipart/form-data">

        <label class="input-file">
            <span class="input-file-text" type="text"></span>
            <input type="file" name="file" accept=".xml">
            <span class="input-file-btn">Выберите файл</span>
        </label>

        <input class="input-file-submit" type="submit" value="Загрузить" />

    </form>
    <script>
        $('.input-file input[type=file]').on('change', function(){
            let file = this.files[0];
            $(this).closest('.input-file').find('.input-file-text').html(file.name);
        });
    </script>
</div>

<div>
    <h4>Обновление классификатора профилей оказанной медицинской помощи v002:</h4>
    <form method="post" th:action="@{/adm/upload_v002_xml}" enctype="multipart/form-data">

        <label class="input-file">
            <span class="input-file-text" type="text"></span>
            <input type="file" name="file" accept=".xml">
            <span class="input-file-btn">Выберите файл</span>
        </label>

        <input class="input-file-submit" type="submit" value="Загрузить" />

    </form>
    <script>
        $('.input-file input[type=file]').on('change', function(){
            let file = this.files[0];
            $(this).closest('.input-file').find('.input-file-text').html(file.name);
        });
    </script>
</div>

<div>
    <h4>Загрузка ЛПУ из справочника F032 </h4>
    <p>(добавит записи отсутствующие в базе)</p>
    <form method="post" th:action="@{/adm/add_lpu_F032_xml}" enctype="multipart/form-data">

        <label class="input-file">
            <span class="input-file-text" type="text"></span>
            <input type="file" name="file" accept=".xml">
            <span class="input-file-btn">Выберите файл</span>
        </label>

        <input class="input-file-submit" type="submit" value="Загрузить" />

    </form>
    <script>
        $('.input-file input[type=file]').on('change', function(){
            let file = this.files[0];
            $(this).closest('.input-file').find('.input-file-text').html(file.name);
        });
    </script>
</div>

<div>
    <h4>ОБНОВЛЕНИЕ информации о ЛПУ из справочника F032</h4>
    <p>(обновит записи существующие в базе)</p>
    <form method="post" th:action="@{/adm/upd_lpu_F032_xml}" enctype="multipart/form-data">

        <label class="input-file">
            <span class="input-file-text" type="text"></span>
            <input type="file" name="file" accept=".xml">
            <span class="input-file-btn">Выберите файл</span>
        </label>

        <input class="input-file-submit" type="submit" value="Загрузить" />

    </form>
    <script>
        $('.input-file input[type=file]').on('change', function(){
            let file = this.files[0];
            $(this).closest('.input-file').find('.input-file-text').html(file.name);
        });
    </script>
</div>

<div>
    <h4>ОБНОВЛЕНИЕ информации о руководителях ЛПУ из справочника F036</h4>
    <form method="post" th:action="@{/adm/upd_lpu_F036_xml}" enctype="multipart/form-data">

        <label class="input-file">
            <span class="input-file-text" type="text"></span>
            <input type="file" name="file" accept=".xml">
            <span class="input-file-btn">Выберите файл</span>
        </label>

        <input class="input-file-submit" type="submit" value="Загрузить" />

    </form>
    <script>
        $('.input-file input[type=file]').on('change', function(){
            let file = this.files[0];
            $(this).closest('.input-file').find('.input-file-text').html(file.name);
        });
    </script>
</div>

<div>
    <h4>ОБНОВЛЕНИЕ информации о ЛПУ из <a href="http://192.168.12.200/downloads/doc/forall/2024/MO-2024.xlsx">реестра медицинских организаций</a> в формате Excel
        </h4>
    <p>(обновит записи существующие в базе: ИНН, КПП, ОГРН и названия организации, используя код МО в качестве ключа.</p>
    <p>Перед использованием функции убедитесь, что данные находятся в нужных ячейках и сделайте резервную копию базы.</p>
    <p> Код МО - столбец E;
        полное наименование - столбец F;
        краткое наименование - столбец G;
        ИНН - столбец H;
        КПП - столбец I;
        ОГРН - столбец J)</p>
    <form method="post" th:action="@{/adm/upd_lpu_xlsx}" enctype="multipart/form-data">

        <label class="input-file">
            <span class="input-file-text" type="text"></span>
            <input type="file" name="file" accept=".xlsx">
            <span class="input-file-btn">Выберите файл</span>
        </label>

        <input class="input-file-submit" type="submit" value="Загрузить" />
    </form>
    <script>
        $('.input-file input[type=file]').on('change', function(){
            let file = this.files[0];
            $(this).closest('.input-file').find('.input-file-text').html(file.name);
        });
    </script>
</div>

<div>
    <h4>Загрузка справочника лицензий</h4>
    <p>(заменит все лицензии в базе на лицензии из загружаемого справочика!)</p>
    <form method="post" th:action="@{/adm/upload_sp_license_xml}" enctype="multipart/form-data">

        <label class="input-file">
            <span class="input-file-text" type="text"></span>
            <input type="file" name="file" accept=".xml">
            <span class="input-file-btn">Выберите файл</span>
        </label>

        <input class="input-file-submit" type="submit" value="Загрузить" />

    </form>
    <script>
        $('.input-file input[type=file]').on('change', function(){
            let file = this.files[0];
            $(this).closest('.input-file').find('.input-file-text').html(file.name);
        });
    </script>
</div>

<div>
    <h4>Загрузка справочника структурных подразделений</h4>
    <p>(Заменит все подразделения (ФАП) в списке подразделений из справочика с https://nsi.rosminzdrav.ru/!)</p>
    <p>Справочник в формате XML должен быть помещен в рабочую директорию программы на сервере и назван dep.xml</p>
    <form method="post" th:action="@{/department/upload_departments_xml}">
        <input class="input-file-submit" type="submit" value="Загрузить" />
    </form>

</div>

<div>
    <h4>Обновление справочника ФАП по справочнику подразделений</h4>
    <p>Справочник подразделений должен быть обновлен в предыдущем пункте</p>
    <form method="post" th:action="@{/update_fap}">
        <input class="input-file-submit" type="submit" value="Обновить" />
    </form>

</div>

</body>
</html>