<!DOCTYPE html>
<html lang="ru">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Редактировать норматив ПФ СМП</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="~{menu :: copy}">...</div>
<h1>Редактировать норматив ПФ СМП</h1>

<form th:action="@{/edit_funding_norma_smp/{mcod}/{datebeg}/{dateend}(mcod=${mcod},datebeg=${datebeg},dateend=${dateend})}" th:object="${editFundingNormaForm}" method="POST">

  <p th:utext="${lpuName}"></p>
  <p th:utext="'Дата начала: ' + ${datebeg}"></p>
  <p th:utext="'Дата конца: ' + ${dateend}"></p>

  Численность прикрепленных по Астрамед:
  <input type="text" th:field="*{quantityInAstr}" />
  <br/>
  Численность прикрепленных по Капитал:
  <input type="text" th:field="*{quantityInKap}" />
  <br/>
  Норматив подушевого финансирования:
  <input type="text" th:field="*{norma}" />
  <br/>
  <input type="submit" value="Сохранить" />
  <input type="button" value="Отмена" onClick='location.href="/funding_norma_smp"'>
</form>
</body>
</html>