<!DOCTYPE html>
<html lang="ru">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Справочник ФАП</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="~{menu :: copy}">...</div>
<h1>Справочник ФАП</h1>
<table>
  <tr>
    <th>OID</th>
    <th>ЛПУ</th>
    <th>ФАП</th>
  </tr>
  <tr th:each="lpu:${lpuList}">
    <td th:utext="${lpu.moLpu}">..</td>
    <td th:utext="${lpu.nameS}">..</td>
    <td><a th:href="@{fap_by_lpu/{lpu}(lpu=${lpu.moLpu})}" th:utext="${lpu.fapCount}">..</a></td>
  </tr>
</table>

<table>
  <tr>
    <th></th>
    <th>Код подразделения</th>
    <th>Наименование ФАП</th>
    <th>Дата начала лицензии</th>
    <th>Дата конца лицензии</th>
    <th>Дата начала работы</th>
    <th>Дата ликвидации</th>
    <th>Тип подразделения</th>
    <th>Вид подразделения</th>


  </tr>
  <tr th:each="fap:${fapList}">
    <td><a th:href=@{edit_fap/{id}(id=${fap.id})}>Редактировать</a></td>
    <td th:utext="${fap.podr}">..</td>
    <td th:utext="${fap.namePodr}">..</td>
    <td th:utext="${fap.FormatedDnLicen}">..</td>
    <td th:utext="${fap.FormatedDkLicen}">..</td>
    <td th:utext="${fap.FormatedDateN}">..</td>
    <td th:utext="${fap.FormatedDateLik}">..</td>
    <td th:utext="${fap.nameTipePodr}">..</td>
    <td th:utext="${fap.nameVidPodr}">..</td>

  </tr>
</table>


  </tr>
</table>

<!--<a href="/add_lpu">Добавить</a>-->
</body>
</html>