<!DOCTYPE html>
<html lang="ru">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Справочник нормативов подушевого финансирования СМП</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="~{menu :: copy}">...</div>
<h1>Справочник нормативов подушевого финансирования СМП</h1>

<div class="alert-message" th:if="${message != null}" role="alert">
  [[${message}]]
</div>


<div>
  <p>Загрузка норм подушевого финансирования СМП из excel:</p>
  <form method="post" th:action="@{/upload_funding_norma_smp_xlsx}" enctype="multipart/form-data">

    <label class="input-file">
      <span class="input-file-text" type="text"></span>
      <input type="file" name="file" accept=".xlsx">
      <span class="input-file-btn">Выберите файл</span>
    </label>

    <input class="input-file-submit" type="submit" value="Загрузить" />

  </form>
    <script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
  <script>
$('.input-file input[type=file]').on('change', function(){
	let file = this.files[0];
	$(this).closest('.input-file').find('.input-file-text').html(file.name);
});
</script>
</div>
<p><a href="/api/pd_tarif/2023">Скачать справочник нормативов по подушевому финансированию скорой медицинской помощи</a></p>

<table>
  <tr>
    <th></th>
    <th>ЛПУ</th>
    <th>Код</th>
    <th>Дата начала</th>
    <th>Дата конца</th>
    <th>Численность прикрепленных по Астрамед</th>
    <th>Численность прикрепленных по Капитал</th>
    <th>Подушевой норматив</th>
  </tr>
  <tr th:each="fundingNormaInfo:${fundingNormaInfos}">
    <td></td>
    <td th:utext="${fundingNormaInfo.lpuName}">..</td>
    <td th:utext="${fundingNormaInfo.mcod}">..</td>
    <td th:utext="${fundingNormaInfo.datebeg}">..</td>
    <td th:utext="${fundingNormaInfo.dateend}">..</td>
    <td th:utext="${fundingNormaInfo.kolZlAstr}">..</td>
    <td th:utext="${fundingNormaInfo.kolZlKapit}">..</td>
    <td th:utext="${fundingNormaInfo.tarif}">..</td>
  </tr>
</table>


</body>
</html>