<!DOCTYPE html>
<html lang="ru">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Справочник нормативов подушевого финансирования СМП</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="~{menu :: copy}">...</div>
<h1>Справочник нормативов подушевого финансирования СМП</h1>

<div class="alert-message" th:if="${message != null}" role="alert">
  [[${message}]]
</div>


<div>
  <p>Загрузка норм подушевого финансирования СМП из excel:</p>
  <form method="post" th:action="@{/upload_funding_norma_smp_xlsx}" enctype="multipart/form-data">

    <label class="input-file">
      <span class="input-file-text" type="text"></span>
      <input type="file" name="file" accept=".xlsx">
      <span class="input-file-btn">Выберите файл</span>
    </label>

    <input class="input-file-submit" type="submit" value="Загрузить" />

  </form>
    <script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
  <script>
$('.input-file input[type=file]').on('change', function(){
	let file = this.files[0];
	$(this).closest('.input-file').find('.input-file-text').html(file.name);
});
</script>
</div>
<p><a href="/fill_next_month_norma_smp">Перенос данных из предыдущего месяца</a></p>
<p><a href="/api/pd_tarif">Скачать справочник нормативов по подушевому финансированию скорой медицинской помощи</a></p>

<form th:action="@{/funding_norma_smp/show_period}" th:object="${showPeriodForm}" method="POST">
  <input type="submit" value="Показать за период" />
  Дата начала:
  <input type="date" th:field="*{dateFrom}" />
  Дата конца:
  <input type="date" th:field="*{dateTo}" />
</form>

<div  class="scroll-table">
<table>
  <col style="width:10%">
  <col style="width:36%">
  <col style="width:8%">
  <col style="width:8%">
  <col style="width:8%">
  <col style="width:10%">
  <col style="width:10%">
  <col style="width:10%">
  <thead>
    <tr>
      <th></th>
      <th>ЛПУ</th>
      <th>Код</th>
      <th>Дата начала</th>
      <th>Дата конца</th>
      <th>Численность прикрепленных по Астрамед</th>
      <th>Численность прикрепленных по Капитал</th>
      <th>Подушевой норматив</th>
    </tr>
  </thead>
</table>
  <div class="scroll-table-body">
    <table>
      <col style="width:10%">
      <col style="width:36%">
      <col style="width:8%">
      <col style="width:8%">
      <col style="width:8%">
      <col style="width:10%">
      <col style="width:10%">
      <col style="width:10%">
      <tbody>
        <tr th:each="fundingNormaInfo:${fundingNormaInfos}">
          <td><a th:href=@{edit_funding_norma_smp/{mcod}/{datebeg}/{dateend}(mcod=${fundingNormaInfo.mcod},datebeg=${fundingNormaInfo.datebeg},dateend=${fundingNormaInfo.dateend})}>
            Редактировать</a></td>
          <td th:utext="${fundingNormaInfo.lpuName}">..</td>
          <td th:utext="${fundingNormaInfo.mcod}">..</td>
          <td th:utext="${fundingNormaInfo.datebeg}">..</td>
          <td th:utext="${fundingNormaInfo.dateend}">..</td>
          <td th:utext="${fundingNormaInfo.kolZlAstr}">..</td>
          <td th:utext="${fundingNormaInfo.kolZlKapit}">..</td>
          <td th:utext="${fundingNormaInfo.tarif}">..</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



</body>
</html>