<!DOCTYPE html>
<html lang="ru">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Справочник ЛПУ</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="~{menu :: copy}">...</div>
<h1>Справочник ЛПУ</h1>
<table>
    <tr>
        <th>Код ЛПУ</th>
        <th>ЛПУ</th>
    </tr>
    <tr th:each="lpu:${lpuList}">
        <td th:utext="${lpu.mkod}">..</td>
        <td><a th:href=@{lpu/{mcod}(mcod=${lpu.mkod})}  th:utext="${lpu.mNameS}">..</a></td>
    </tr>
</table>

<!--<a href="/add_lpu">Добавить</a>-->
</body>
</html>