<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="copy">
    <a th:href="@{/index}">Начало</a>
    |
    <a th:href="@{/lpu}">ЛПУ</a>
    |
    <a th:href="@{/fap}">ФАП</a>
    |
    <a th:href="@{/funding_fap}">Финансовое обеспечение ФАП</a>
    |
    <a th:href="@{/funding_norma}">Нормативы ПФ АПП</a>
    |
    <a th:href="@{/funding_norma_smp}">Нормативы ПФ СМП</a>
    |
    <a th:href="@{/fys}">Cправочник медицинских услуг</a>
    |
    <a th:href="@{/adm}">Администрирование</a>
</div>
</body>
</html>